{#
/**
* @file
* Default theme implementation for senapi_carousel.
*/
#}

{% set classes = ['block', 'senapi-carousel'] %}
<div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2 {{ title_attributes }}> {{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% if elements.content.config.carousel_style != 'vegas' %}
        {{ attach_library('senapi_carousel/carousel') }}
    {% endif %}

    {% block content %}
        {% set els = elements.content.slides|length %}
        {% if els > 0 %}
            {% set data_interval = elements.content.config.data_interval %}
            {% if data_interval == 0 %}
                {% set data_interval = "false" %}
            {% endif %}

            <div id="{{ elements.content.id }}" class="carousel slide" data-ride="carousel"
                 data-interval="{{ data_interval }}">
                {% if elements.content.config.carousel_style != 'without-indicators' %}
                    <ol class="carousel-indicators">
                        {% for i in 0..els-1 %}
                            {% set class_item = (loop.first) ? 'class="active"' : '' %}
                            <li data-target="#{{ elements.content.id }}"
                                data-slide-to="{{ i }}" {{ class_item|raw }}></li>
                        {% endfor %}
                    </ol>
                {% endif %}

                <div class="carousel-inner">
                    {% for item in elements.content.slides %}
                        {% set class_item = (loop.first) ? 'class="item carousel-item active"' : 'class="item carousel-item"' %}
                        <div {{ class_item|raw }}>
                            {% if item.image %}
                                {% if item.url %}
                                    {% set item_attributes = create_attribute() %}

                                    {% if item.url_external %}
                                        {% set item_attributes = item_attributes.setAttribute('href', [item.url]) %}
                                        {% set item_attributes = item_attributes.setAttribute('target', ['_bank']) %}
                                    {% else %}
                                        {% set item_attributes = item_attributes.setAttribute('href', [item.url|raw]) %}
                                        {% set item_attributes = item_attributes.setAttribute('data-toggle', ['modal']) %}
                                        {% set item_attributes = item_attributes.setAttribute('data-target', ['#bd-modal-lg']) %}
                                    {% endif %}

                                    <a {{ item_attributes }}>
                                {% endif %}

                                <img class="d-block w-100 h-auto" src="{{ file_url(item.image) }}" alt="{{ item.title|raw }}"
                                     width="{{ item.image_width|raw }}" height="{{ item.image_height|raw }}">

                                {% if item.url %}
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                {% if item.title %}
                                    <h2 class="caption-title">{{ item.title|raw }}</h2>
                                {% endif %}
                                {% if item.description %}
                                    <div class="caption-desc">{{ item.description|raw }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if elements.content.config.carousel_style == 'controls' %}
                        <a href="#{{ elements.content.id }}" class="carousel-control-prev left carousel-control"
                           role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span>
                            <span class="sr-only">{% trans %}Previous{% endtrans %}</span>
                        </a>
                        <a href="#{{ elements.content.id }}" class="carousel-control-next right carousel-control"
                           role="button" data-slide="next">
                            <span class="carousel-control-next-icon glyphicon glyphicon-chevron-right"
                                  aria-hidden="true"></span>
                            <span class="sr-only">{% trans %}Next{% endtrans %}</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            {% if elements.content.config.more_link and elements.content.config.more_link_text %}
                <div class="carousel-more-link">
                    {{ link(elements.content.config.more_link_text, elements.content.config.more_link, {'title': elements.content.config.more_link_text}) }}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}
</div>